<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="com.edureka.firstSpringAppliction.User">
		<property name="name" value="avinash"></property>

		<property name="car" ref="car1"></property>

		<constructor-arg name="car" ref="car2"></constructor-arg>
	</bean>

	<bean id="car1" class="com.edureka.firstSpringAppliction.Car">
		<property name="name" value="Vitara Brezza"></property>
		<property name="cost" value="200"></property>
	</bean>
	<bean id="car2" class="com.edureka.firstSpringAppliction.Car">
		<property name="name" value="Rolls Royce"></property>
		<property name="cost" value="10000"></property>
	</bean>
</beans>
